@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../components/assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 1000px;
    margin: 0 auto;
}
